@page "/promille"
@using one.Shared

Weiblich? <input type="checkbox" />
Alter: <input @bind="@calculation.Age" />
Grösse [cm]: <input @bind="@calculation.Height" />
Gewicht: <input @bind="@calculation.Weight" />
Deziliter getrunken: <input @bind="@calculation.Deciliter" />
Volumenprozent: <input @bind="@calculation.Percent" />
Saettigung (0 bis 3): <input @bind="@calculation.Fullness" />
<button @onclick="OnCalculate">Berechnen</button>
<h3>Promille Alkohol: </h3>


@code
{
    AlcoholBloodConcentrationCalculation calculation = new AlcoholBloodConcentrationCalculation(Genders.Male, 0,0,0,0,0,0);

    public void OnCalculate()
    {
        
    }
}